{{ define "main" }}
<div class="site-inner">
    <header class="entry-header">
        <h1 class="entry-title">Explore the Timeless Legacy of the Stabat Mater</h1>
    </header>
    <div class="content-sidebar-wrap has-boxed-children">
        <main class="content" id="genesis-content">
            <article class="post-2274 page type-page status-publish entry boxed" aria-label="Explore the Timeless Legacy of the Stabat Mater">
                <div class="entry-content">
                    <figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio">
                        <div class="wp-block-embed__wrapper">
                            <iframe title="Stabat Mater Dolorosa - A Journey through Seven Centuries of Music" width="500" height="281" src="https://www.youtube.com/embed/BB51Wb2UvbI?feature=oembed" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <figcaption class="wp-element-caption"><strong>If you wou</strong>ld like to support us in keeping the website ad-free, you might consider making a <a href="https://stabatmater.info/stabat-mater-collection-support/">donation</a> or purchasing the <a href="https://www.amazon.com/Stabat-Mater-Dolorosa-Journey-Centuries/dp/B0CY8T9MG1">Stabat Mater Dolorosa book</a>. Thank you so much!</figcaption>
                    </figure>

                    <h2 class="wp-block-heading">Search the Ultimate Stabat Mater Website</h2>
                    <p>On the Ultimate Stabat Mater Website you will find the CD-collection of -now- more than 300 different Stabat Mater compositions. Search for <a href="https://stabatmater.info/stabat-mater-composer/">composers</a>: alphabetically, chronologically, by country of origin and by duration. <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw">Listen</a> to the compositions and <a href="https://www.youtube.com/channel/UCPUZ1hgQgIIYQeMqoJWWoXw/featured">watch</a> the videos of special performances. The site also includes <a href="https://stabatmater.info/stabat-mater-translations-and-languages/">translations</a> of the original Latin poem <a href="https://stabatmater.info/stabat-mater-dolorosa-about-the-poem/">Stabat Mater Dolorosa</a> in 24 different languages. See: <a href="https://stabatmater.info/category/latest-addition/">Latest additions</a>.</p>

                    <h2 class="wp-block-heading">Why this Stabat Mater website?&nbsp;&nbsp;</h2>
                    <p>Initiator of this website, <a href="https://stabatmater.info/stabat-mater-foundation/">Hans van der Velden</a>, began this journey of musical discovery in 1992 with the Stabat Mater from <a href="https://stabatmater.info/stabat-mater-foundation/">Haydn</a>. He searched systematically and persistently for composers, performances on cd and translations of the original Latin poem. He brought the religious, literary, and musical world of the Stabat Mater to life. <a href="https://stabatmater.info/stabat-mater-foundation/">We are proud</a> to continue his work.</p>

                    <h2 class="wp-block-heading">Interested?</h2>
                    <p>We hope this site is helpful for music lovers, musicians, and composers! Would you like to learn more? Subscribe to the Newsletter or <a href="https://stabatmater.info/stabat-mater-blog/">read the blog</a>. Do you have any information about performances, recordings, video’s, or cds with Stabat Maters? &nbsp;<a href="https://stabatmater.info/contact/">Please, let us know</a>!</p>
                </div>
            </article>
        </main>
        <aside class="sidebar sidebar-primary widget-area has-boxed" role="complementary" aria-label="Primary Sidebar" id="genesis-sidebar-primary">
            <h2 class="genesis-sidebar-title screen-reader-text">Primary Sidebar</h2>
            <section id="text-60" class="widget boxed widget_text">
                <div class="widget-wrap"><div class="textwidget"><p><a href="https://stabatmater.info/stabat-mater-collection-support/"><img loading="lazy" decoding="async" class="alignnone size-medium wp-image-17330" src="https://stabatmater.info/wp-content/uploads/2025/02/banner-met-tekst-nw-300x175.jpg" alt="" width="300" height="175"/></a></p></div></div>
            </section>
            <section id="search-5" class="widget boxed widget_search">
                <div class="widget-wrap">
                    <form class="search-form" method="get" action="https://stabatmater.info/" role="search">
                        <label class="search-form-label screen-reader-text" for="searchform-3">Search this website</label>
                        <input class="search-form-input" type="search" name="s" id="searchform-3" placeholder="Search this website">
                        <input class="search-form-submit" type="submit" value="Search">
                        <meta content="https://stabatmater.info/?s={s}">
                    </form>
                </div>
            </section>
            <section id="recent-posts-2" class="widget boxed widget_recent_entries">
                <div class="widget-wrap"><h3 class="widgettitle widget-title">Recent posts</h3>
                    <ul>
                        <li><a href="https://stabatmater.info/a-unique-approach-to-pergolesis-stabat-mater/">A Unique Approach to Pergolesi&#8217;s Stabat Mater</a><span class="post-date">13-04-2025</span></li>
                        <li><a href="https://stabatmater.info/latest-addition-clemence-de-granval/">Latest addition: Clémence de Granval</a><span class="post-date">18-03-2025</span></li>
                        <li><a href="https://stabatmater.info/new-english-liturgical-translation-of-the-stabat-mater/">New English Liturgical Translation of the Stabat Mater</a><span class="post-date">18-03-2025</span></li>
                        <li><a href="https://stabatmater.info/the-ultimate-stabat-mater-website-needs-your-support/">The Ultimate Stabat Mater Website Needs Your Support</a><span class="post-date">06-02-2025</span></li>
                        <li><a href="https://stabatmater.info/koen-dejonghes-stabat-mater-a-musical-journey-through-time/">Koen DeJonghe&#8217;s Stabat Mater: A Musical Journey Through Time</a><span class="post-date">05-02-2025</span></li>
                    </ul>
                </div>
            </section>
            <section id="text-28" class="widget boxed widget_text">
                <div class="widget-wrap"><h3 class="widgettitle widget-title">Stabat Mater composers</h3>
                    <div class="textwidget"><p>Search for composers:<br/>
                        <a href="https://stabatmater.info/composer/alphabetically/">Alphabetically</a><br/>
                        <a href="https://stabatmater.info/composer/countries-of-origin/">By countries of origin</a><br/>
                        <a href="https://stabatmater.info/composer/chronologically/">Chronologically</a><br/>
                        <a href="https://stabatmater.info/composer/duration/">By duration</a>
                    </p></div>
                </div>
            </section>
        </aside>
    </div>
</div>
{{ end }}
